﻿.swagger-ui .topbar {
    background-color: #333333;
}
.swagger-ui label {
    color: #ffffff;
}
.swagger-ui .topbar .download-url-wrapper .select-label select {
    /*border-color:#f6f194;*/
    border-color: #d29c45;
}
.swagger-ui .topbar .topbar-wrapper .link {
    background-image: url("logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -10px;
}
.swagger-ui .topbar .topbar-wrapper .link img, .swagger-ui .topbar .topbar-wrapper .link span {
    display: none;
}